.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner {
  width: 450px;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  margin: 44px 40px 0 40px;
}

.location {
  display: flex;
  align-items: center;
}

.location__icon {
  font-size: 2rem;
}
.location__name {
  font-size: 2rem;
  margin: 0 24px 0 9px;
}
.location__icon-right,
.location__notification {
  font-size: 2rem;
  cursor: pointer;
}
.location__notification {
  margin-left: 10px;
}

.location__element {
  display: flex;
  align-items: center;
}

.search {
  position: relative;
}

.search__input {
  padding: 8px 6px;
  border-radius: 12px;
  border: none;
  outline: none;
  width: 160px;
}

.search__icon {
  content: "";
  position: absolute;
  font-size: 1.7rem;
  right: 3px;
  top: 0;
  padding: 5px;
  color: #134cb5;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.main {
  text-align: center;
}
.img {
  width: 100px;
  margin: 20px 0;
}

.info {
  text-align: center;
  color: var(--white-color);
  margin: 12px 0 26px;
}

.info__temperature {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 12px;
  position: relative;
}
.info__temperature::after {
  position: absolute;
  content: "o";
  color: var(--white-color);
  right: auto;
  top: 10px;
  font-size: 3.4rem;
  font-weight: 500;
}

.info__type {
  font-size: 1.2rem;
  letter-spacing: 1.1px;
}
.progres {
}

.progres span {
  position: relative;
  margin: 5px;
  font-size: 1.2rem;
}
.progres span::after {
  position: absolute;
  content: "o";
  right: -7px;
  top: -5px;
  font-size: 1.1rem;
}

.other-info {
  margin: 26px 40px;
  background-color: rgba(0, 16, 38, 0.31);
  padding: 14px 0;
  border-radius: 30px;
}

.other-info__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.other-info__element {
  color: var(--white-color);
  display: flex;
  align-items: center;
}

.element__icon {
  font-size: 2rem;
  margin-right: 4px;
}

.element__text {
  font-size: 1.5rem;
}

/*  info today */

.info__today {
  margin: 10px 40px;
  background-color: rgba(0, 16, 38, 0.31);
  border-radius: 30px;
}

.info__today__inner {
  padding: 16px;
}

.inner__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--white-color);
}
.month {
  font-size: 1.5rem;
  color: var(--white-color);
}

.inner__element {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 12px;
  overflow: hidden;
  overflow-x: auto;
  justify-content: flex-start;
}

.inner__element::-webkit-scrollbar {
  height: 0;
}

.elemet__item {
  display: flex;
  flex-direction: column;
  padding: 10px;

  color: var(--white-color);
}

.active {
  border-radius: 20px;
  background-color: rgba(37, 102, 163, 0.2);
}

.item__temperature {
  font-size: 1.4rem;
  position: relative;
  font-weight: 300;
}
.item__temperature::after {
  position: absolute;
  content: "o";
  top: -4px;
  right: auto;
  font-size: 1.1rem;
}

.item__img {
  width: 50px;
  margin: 20px 0;
}

.item__time {
  font-size: 1.5rem;
  font-weight: 600;
}

/* next day */
.info__next-day {
  margin: 16px 40px;
  background-color: rgba(0, 16, 38, 0.31);
  border-radius: 30px;
}

.next-day__inner {
  padding: 16px;
}

.inner__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
}

.title__text {
  font-size: 1.7rem;
  font-weight: 700;
}

.title__icon {
  font-size: 1.8rem;
}

.inner__content {
  margin-top: 12px;
  overflow: hidden;
  overflow-y: auto;
  height: 140px;
}

.inner__content::-webkit-scrollbar {
  height: 0;
}

.content {
  margin: 12px 0;
}

.content__weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  color: var(--white-color);
}

.weather__day {
  font-size: 1.3rem;
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.weather__status {
  width: 34px;
}

.weather__min-max {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: 300;
}

.weather__min-max span {
  position: relative;
  margin: 5px;
}
.weather__min-max span::after {
  position: absolute;
  content: "o";
  top: -5px;
  right: auto;
  font-size: 0.9rem;
}
.weather__min-max span:nth-child(2) {
  color: #d0c4c4;
}

/* page intro */
.page {
  margin: 0 40px;
  color: var(--white-color);
}

.page__heading {
  font-size: 2.8rem;
  line-height: 1;
  margin: 40px 0;
  font-weight: 400;
}

.page__intro {
  background-color: rgba(0, 16, 38, 0.18);
  border-radius: 10px;
  padding: 10px 12px;
  overflow: hidden;
}

.intro__background {
  width: 100%;
  background-color: var(--white-color);
  margin: 26px 0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(-100% - 12px);
}

.intro__background:nth-child(1) {
  animation: animate 0.8s linear forwards;
}

.intro__background:nth-child(2) {
  animation: animate 0.8s linear 0.5s forwards;
}

.intro__background:nth-child(3) {
  animation: animate 0.8s linear 1s forwards;
}

.intro__title {
  color: #000;
  font-size: 2rem;
  font-weight: 400;
}

.intro__icon {
  color: var(--white-color);
  font-size: 2rem;
  padding: 12px;
  border-radius: 10px;
  background-color: #134cb5;
}

.intro__img {
  width: 140px;
  margin: 30px 0 0 0;
}

/*  no result */
.no-results {
  margin: 40px 20px;
}

.no__img {
}

.no__text {
  font-size: 3rem;
  margin-top: 26px;
  color: var(--white-color);
}
